<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>
    <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
    <script src="https://unpkg.com/resize-observer-polyfill@1.5.0/dist/ResizeObserver.js"></script>
    <script src="https://unpkg.com/fullscreen-polyfill@1.0.2/dist/fullscreen.polyfill.js"></script>
    <script src="https://unpkg.com/@magicleap/prismatic/prismatic.min.js"></script>
    <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
    <title>Login-QARD   </title>
    <link rel="shortcut icon" href="../img/LOGO QUARD 2.ico">
</head>
<body>
  <!-- Header -->
  <div class="loader"></div>
  <input type="checkbox" id="check">
  <label for="check">
      <img src="../img/menu.png" width="50px" id="btn">
      <img src="../img/cancelar.png" width="50px" id="cancel">
  </label>
  <div class="sidebar">
    <div class="loader"></div>
    <header><img src="../img/WhatsApp Image 2022-02-20 at 15.51.00.jpeg"> </header>
      <ul>
          <li><a href="../templates/index.html"><img src="../img/menu.png" width="30px" class="iconito">Menu</a></li>
          <li><a href="#"><img src="../img/atencion-al-cliente.png" width="30px" class="iconito">Contact</a></li>
          <li><a href="#"><img src="../img/team.png" width="30px" class="iconito">QARD - Team </a></li>
          <li><a href="#"><img src="../img/linkedin.png" width="30px" class="iconito">Linkedin</a></li>
          <li><a href="#"><img src="../img/silueta-del-logo-de-github-en-un-cuadrado.png" width="30px" class="iconito">Github-Team</a></li>
      </ul>
  </div>
    <div class="container">
        <div class="row sf">
            <div class="col">
                <div class="text-start">
                </div>
                <img src="../img/LOGO QARD 3.png"class="logito">
                <form action="index.html">
                    <div class="mb-4">
                        <label for="Email" class="form-label">Email:</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label ">Password:</label>
                        <input type="password" class="form-control" name="email">
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" name="connected" class="form-check-input">
                        <label for="connected" class="form-check-label ">Remember me</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                    <span class="">¿You do not have an account? <a href="#" class="text-primary">Sign up here</a></span>
                </form>
                <div class="logins">
                    <button type="button" class="btn btn-outline-danger btn-lg btn-block butt"><img src="../img/google.png" width="34px">  Google</button>
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block butt"><img src="../img/linkedin.png" width="34px">  Linkedin</button>
                </div>
            </div>
            <div class="col st ss">
                    <img src="../img/ID Card-bro.png" class="card-img img" alt="...">
                  </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script type="module"
    src="https://unpkg.com/@google/model-viewer@v0.9.0/dist/model-viewer.js">
</script>
<script nomodule
src="https://unpkg.com/@google/model-viewer@v0.9.0/dist/model-viewer-legacy.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
  $(window).load(function() {
      $(".loader").fadeOut("slow");
  });
  </script>
</body>
</html>