<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-menu.css">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <img src="../img/menu.png" width="50px" id="btn">
        <img src="../img/cancelar.png" width="50px" id="cancel">
    </label>
    <div class="sidebar">
      <header><img src="../img/WhatsApp Image 2022-02-20 at 15.51.00.jpeg"> </header>
        <ul>
            <li><a href="../templates/login.html"><img src="../img/acceso.png" width="30px" class="iconito">Login</a></li>
            <li><a href="#"><img src="../img/atencion-al-cliente.png" width="30px" class="iconito">Contact</a></li>
            <li><a href="#"><img src="../img/team.png" width="30px" class="iconito">QARD - Team </a></li>
            <li><a href="#"><img src="../img/linkedin.png" width="30px" class="iconito">Linkedin</a></li>
            <li><a href="#"><img src="../img/silueta-del-logo-de-github-en-un-cuadrado.png" width="30px" class="iconito">Github-Team</a></li>
          </ul>
    </div>
</body>
</html>