<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/style-register.css">
  <title>Formulario Registro</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <img src="../img/menu.png" width="50px" id="btn">
        <img src="../img/cancelar.png" width="50px" id="cancel">
    </label>
    <div class="sidebar">
        <header><img src="../img/WhatsApp Image 2022-02-20 at 15.51.00.jpeg"> </header>
          <ul>
              <li><a href="../templates/login.html"><img src="../img/acceso.png" width="30px" class="iconito">Your QARD</a></li>
              <li><a href="#"><img src="../img/atencion-al-cliente.png" width="30px" class="iconito">Contact</a></li>
              <li><a href="#"><img src="../img/team.png" width="30px" class="iconito">QARD - Team </a></li>
              <li><a href="#"><img src="../img/linkedin.png" width="30px" class="iconito">Linkedin</a></li>
              <li><a href="https://github.com/FrancoBuenoHolberton/indexv2"><img src="../img/silueta-del-logo-de-github-en-un-cuadrado.png" width="30px" class="iconito">Github-Team</a></li>
          </ul>
      </div>
  <section class="form-register">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="Registrar">
    <p><a href="#">¿Ya tengo Cuenta?</a></p>
  </section>

</body>
</html>